<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  

<mapper namespace="com.one.app.websocket.ChatDAO">

	<select id="room" parameterType="MessageVO" resultType="MessageVO">
		SELECT * FROM CHAT_TBL
		WHERE
			 SENDER=#{sender} AND RECEIVER=#{receiver}
		 	 OR 
		 	 RECEIVER=#{receiver} AND SENDER=#{sender}
		 ORDER BY CHAT_TIME ASC
	
	</select>


	<select id="getList" resultType="UserVO">
		SELECT USERNAME, NAME, FILE_NAME,STATUS FROM USER_TBL
	
	</select>


	<insert id="makeRoom" parameterType="MessageVO">
	
		INSERT INTO CHAT_TBL VAULES
		(null,#{roomNum},#{sender},#{receiver},null,NOW())
	
	
	</insert>






</mapper>
