<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.one.app.board.qna.QnaDAO">

	<select id="getList" resultType="QnaVO" parameterType="Pager">

		SELECT * FROM QNA_TBL

		<include refid="search"></include>

		ORDER BY BOARD_NUM DESC
		LIMIT #{startNum},#{perPage}



	</select>



<sql id="search">
	<where>
		<if test="kind=='k1' and search != null and search != ''">
			BOARD_TITLE LIKE CONCAT('%',#{search},'%')
		</if>
		<if test="kind=='k2' and search != null and search != ''">
			BOARD_CONTENTS LIKE CONCAT('%',#{search},'%')
		</if>
		<if test="kind=='k3' and search != null and search != ''">
			USER_NAME LIKE CONCAT('%',#{search},'%')
		</if>
	</where>
</sql>


	<insert id="add" parameterType="QnaVO" useGeneratedKeys="true" keyProperty="boardNum">
	INSERT INTO QNA_TBL
	(BOARD_TITLE, BOARD_CONTENTS, BOARD_DATE, BOARD_HIT, USER_NAME,BOARD_REF,BOARD_STEP,BOARD_DEPTH)
	VALUES(#{boardTitle},#{boardContents},NOW(),0,#{userName},#{boardRef},0,0)
	
	</insert>
	
	
	
	<update id="refUpdate" parameterType="QnaVO">
	
		UPDATE QNA_TBL SET BOARD_REF = #{boardNum} WHERE BOARD_NUM = #{boardNum}
		
	
	</update>
	
	
	
	
	
	
	
	
	<insert id="addFile" parameterType="BoardFileVO">
		INSERT INTO NOTICE_FILES_TBL
		(FILE_NAME,OLD_NAME,BOARD_NUM)
		VALUES
		(#{fileName},#{oldName},#{boardNum})
	</insert>
	
	
	
	
	
	
	
	
	
	



	<select id="getTotalCount" resultType="Long" parameterType="Pager">
		SELECT COUNT(BOARD_NUM)
		FROM QNA_TBL
		<include refid="search"></include>
	</select>



	<insert id="test" parameterType="java.util.List">
		INSERT INTO QNA_TBL
		(BOARD_TITLE, BOARD_CONTENTS, BOARD_DATE, BOARD_HIT, USER_NAME)
		VALUES
		<foreach collection="list" item="vo" separator=",">
			(#{vo.boardTitle}, #{vo.boardContents}, NOW(), 0, #{vo.userName})
		</foreach>

	</insert>






	<select id="getDetail" resultMap="getDetailResult" parameterType="QnaVO">
		SELECT *
		FROM QNA_TBL N
		LEFT OUTER JOIN
		NOTICE_FILES_TBL NF
		USING(BOARD_NUM)
		WHERE BOARD_NUM=#{boardNum}
		
	</select>


<resultMap type="QnaVO" id="getDetailResult">

	<id column="BOARD_NUM" property="boardNum"/>
	<result column="BOARD_TITLE" property="boardTitle"/>
    <result column="BOARD_CONTENTS" property="boardContents"/>
       <result column="BOARD_DATE" property="boardDate"/>
    <result column="BOARD_HIT" property="boardHit"/>
    <result column="USER_NAME" property="userName"/>
    
    
        <collection property="boardFileVO" javaType="java.util.List" ofType="boardFileVO">
        <id column="FILE_NUM" property="fileNum"/>
        <result column="FILE_NAME" property="fileName"/>
        <result column="OLD_NAME" property="oldName"/>
    </collection>
    

</resultMap>



	<select id="getFileDetail" parameterType="BoardFileVO" resultType="BoardFileVO">
		SELECT * FROM NOTICE_FILES_TBL WHERE FILE_NUM=#{fileNum}
	
	</select>











	<delete id="delete" parameterType="QnaVO">
	DELETE FROM QNA_TBL
	WHERE BOARD_NUM=#{boardNum}
	
	
	
	</delete>

	<update id="update" parameterType="QnaVO">
	UPDATE QNA_TBL SET BOARD_TITLE =#{boardTitle}, BOARD_CONTENTS =#{boardContents} WHERE BOARD_NUM=#{boardNum}  
	
	</update>








</mapper>
